
html {
    background: $back2Color;
}

header {
    background: url(../assets/BG_Platters.jpg);
    background-position: 52% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.titleBox {
    background-color: transparentize($back2Color, .5);
}

.ingredientSection .formSectionDeco {
    background-color: skyblue;
}

.dietSection .formSectionDeco {
    background-color: mediumaquamarine;
}

.healthSection .formSectionDeco {
    background-color: lemonchiffon
}

.search {
    background-color: $back1Color;
}

.formSectionDeco {
    border-radius: 1rem;
}

button {
    background-color: $themeColor;
    border-radius: 1rem;
}

.results {
    background-color: $back2Color;
}

.card:nth-last-child(2n) {
    background-color: $back1Color;
}
.card:nth-last-child(1),
.card:nth-last-child(2) {

    background-color: transparent;
}