ul {
    list-style-type: none;
    padding-left: 0;
}

.contentWrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.logoBox {
    width: 100%;
}

.splash-title {
    margin: 0 auto;
}

.userChoices {
    
    display: flex;
    flex-flow: column wrap;
}

.dietarySpecifics {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.submitButton {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

button {
        margin: 1rem;
        background-color: rgb(107, 38, 29);
        border: none;
        color: white;
        padding: 1rem 1.5rem;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
}