ul, ol {
    list-style-type: none;
    padding-left: 0;
}

body {
    height: 100%;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

.contentWrapper {
    max-width: 1280px;
    width: 94%;
    margin: 0 auto;
}

header {
    height: 100vh;
}

.titleBox {
    padding: 1rem 0;
}

.logoBox {
    width: 100%;
    max-width: 400px;
}

.splash-title {
    margin: 0 auto;
}

.search h3 {
    padding: 1rem;
    padding-top: 2rem;
}

form {
    overflow: hidden;
}

.formSectionDeco {
    padding: 1rem;
    position: relative;
    height: 100%;
}

.userChoices {
    display: flex;
    flex-flow: row wrap;
    
}

.dietarySpecifics {
    flex: 1 0 30%;
    min-width: 280px;
    justify-content: space-between;
    flex-flow: column wrap;
    padding: 10px 0;
    display: flex;
    align-items: stretch;
    margin: 5px;
}

.submitButton {
    display:flex;
    justify-content: center;
    align-items: center;
}

button {
        margin: 20px;
        border: none;
        padding: 1rem 1.5rem;
        text-align: center;
}