header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30vw;
}

.contentWrapper {
    width: 70vw;
    margin: 0 0 0 auto;
}

.resultsWrapper {
    width: 60vw;
    margin: 0 0 0 auto;
}