@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap');

html {
    font-size: 125%;
}

h1 {
    font-family: "Play", sans-serif;
    font-size: 10rem;
    font-style: oblique;
    color: #ac3d98;
    text-shadow: 2px 2px 10px #872b64;
}